---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Hi, I'm Abhi, an aerospace engineer with a ton of projects and infinite passion for self-learning."
    />
    <link
      rel="icon"
      type="image/x-icon"
      href={`${import.meta.env.BASE_URL}favicon.ico`}
    />
    <title>Abhigyaan Deep</title>

    <style is:global>
      @import "@radix-ui/themes/styles.css";
    </style>

    <style>
      body {
        margin: 0;
        background-color: var(--mauve-1);
        color: var(--mauve-12);
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)",
          Roboto, "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif,
          "Apple Color Emoji", "Segoe UI Emoji";
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
